@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,500;0,600;1,400&display=swap" rel="stylesheet");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',SemiBold;
    scroll-behavior: smooth;
}

body{
    background-image: url(bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
<<<<<<< HEAD
    
    
=======
>>>>>>> ff701992c130766a9a6df915468fb6693cfec271
}

#contenor{
    height: 550px;
    width: 1000px;
    margin: 80px 50px 50px 180px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    backdrop-filter: blur(5px);
    
}
nav{
    margin: 20px 20px 0 20px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
nav img{
    width: 90px;
    margin-left: 20px;
}
nav ul{
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}
nav ul li a:hover,
a.active{
    color: white;
    border-radius: 30px;
    background-color: black;
    padding: 2px 8px 2px 8px;
}

.hero{
    margin: 50px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}
.hero h1{
    margin-left: 50px;
}
.hero p{
    width: 500px;
    margin: 20px 0 0 50px;
}
.hero button{
    background-color: black;
    width: 140px;
    height: 40px;
    margin: 10px -40px 0 50px ;
    color: white;
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
}
.hero img{
    position: relative;
    width: 400px;
    margin: 20px 50px 0 0;
    animation: image 2s ease-in-out infinite;
}
@keyframes image {
    0%{
        top: 0px;
    }
    50%{
        top: -20px;
    }
    100%{
        top: 0px;
    }
}