@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,500;0,600;1,400&display=swap" rel="stylesheet");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',SemiBold;
    scroll-behavior: smooth;
}

body{
    background-image: url(bg-img.jpeg);
    background-size: cover;
<<<<<<< HEAD
    
    
=======
>>>>>>> ff701992c130766a9a6df915468fb6693cfec271
}

#contenor{
    margin: 60px 60px 60px 60px;
    height: 600px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(5px);
    
}
nav{
    margin: 20px 20px 0 20px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
nav img{
    width: 90px;
    margin-left: 20px;
}
nav ul{
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
